<div>
  <h3>Products</h3>
  <div class="panel panel-primary">
    <div class="panel-heading">
      Add Product
    </div>
    <div class="panel-body">
      Product Name: <input type="text" [(ngModel)]="newProduct.productName">
      Description: <input type="text" [(ngModel)]="newProduct.description">
      Price: <input type="number" [(ngModel)]="newProduct.price">
      &nbsp; &nbsp;
      <button class="btn btn-success btn-sm" (click)="addProduct()">Add</button>
    </div>
  </div>
  Search: <input type="text" [(ngModel)]="searchText">
  <button class="btn btn-warning btn-sm" (click)="clearSearchText()">X</button>
  <table class="table table-bordered">
    <thead>
      <tr align="center">
        <td>#</td>
        <td>
          <button class="btn btn-primary" (click)="toggleImage()">
            {{showImage ? 'Hide': 'Show'}}
          </button>
        </td>
        <td><span class="clickable" (click)="sort('productName')">Name</span></td>
        <td>Description</td>
        <td>Price</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filterProducts : searchText | sortProducts: sortColumn;let i = index">
        <td>{{i+1}}</td>
        <td>
          <img src={{product.imageUrl}} *ngIf="showImage" width="50" height="50">
        </td>
        <td>{{product.productName | uppercase}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency:'USD'}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)">x</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>
    Enter 'n' value: <input type="text" [(ngModel)]="n">
    {{n}}
    <button (click)="doubleN()">Double</button>
  </h2>
</div>